body {
	height: 100%;
	width: 100%;
}

#background {
    width: 100%; 
    height: 100%; 
    position: fixed; 
    left: 0px; 
    top: 0px; 
    z-index: -999;
}

.stretch {
    width:100%;
    height:100%;
}

#scoreBoard {
	background: #fc4a1a;
    background: -webkit-linear-gradient(to right, #fc4a1a, #f7b733);
    background: linear-gradient(to right, #fc4a1a, #f7b733);
    width: 15%;
    margin: auto;
    margin-top: 20px;
    padding: 15px 0 15px 15px;
    border: black solid 3px;
    border-radius: 30px;
}

#scoreBoard h2 {
	display:inline;
	padding-left: 5px;
	font-family: 'Ubuntu', sans-serif;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	font-weight: 900
}

#goalImage {
	border-radius: 100px;
	border: 3px solid black;
	height: 360px;
	position: absolute;
	animation-name: bounceIn;
  	animation-duration: 500ms;
  	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}

#goalScreen {
	display: flex;
	justify-content: center;
	animation-delay: 1000ms;
    animation-name: rollOut;
    animation-duration: 800ms;
    animation-fill-mode: both;
}
  
@keyframes rollOut {
    0% {
    	opacity: 1;
        transform: translateX(0px) rotate(0deg);
    }
    100% {
        opacity: 0;
        transform: translateX(100%) rotate(120deg);
    }
}

#winScreen {
	display: flex;
	justify-content: center;
}

#winImage {
	border-radius: 50px;
	border: 3px solid black;
	position: absolute;
	animation-name: bounceIn;
  	animation-duration: 500ms;
  	animation-timing-function: linear;
  	animation-fill-mode: forwards;
}

@keyframes bounceIn {
   0%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
  }
  50%{
    opacity: 0.9;
    transform: scale(1.1);
  }
  80%{
    opacity: 1;
    transform: scale(0.89);
  }
  100%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);
  }
}

.container {
	display: flex;
	height: 20vh;
	justify-content: center;
	align-items: center;
}

.leftGoal {
	padding: 8% 6% 4% 6%;
	margin-top: 14%;
}

.middleGoal {
	padding: 2.5% 4% 11.5% 4%;
	margin-top: 14%;

}

.rightGoal {
	padding: 8% 6% 4% 6%;
	margin-top: 14%;
}


#stillBall {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	margin-top: 265px;
	margin-right: 5px;
}


.ballLeft {
	display: flex;
	justify-content: center;
	margin-bottom: 250px;
	animation: shootLeft 1s;
	z-index: 2;
}

@keyframes shootLeft {
  from {
    transform: translateX(0px) 
  }
  to {
    transform: translate(-220px, -260px)
  }
}

.ballMiddle {
	display: flex;
	justify-content: center;
	margin-bottom: 250px;
	animation: shootMiddle 1s;
	animation -duration: 1s;
	z-index: 2;
}

@keyframes shootMiddle {
    transform: translateX(0px) 
  from {
  }
  to {
    transform: translate(0px, -355px)
  }
}

.ballRight {
	display: flex;
	justify-content: center;
	margin-bottom: 250px;
	animation: shootRight 1s;
	animation -duration: 1s;
	z-index: 2;
}

@keyframes shootRight {
  from {
    transform: translateX(0px) 
  }
  to {
    transform: translate(220px, -260px)
  }
}




.goalie > .goalieReady {
	width: 110px;
	position: fixed;
	left: 50%;
	margin-left: -55px;
	z-index: -1;
}

.goalieReady {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  	transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10% {
    transform: translate3d(-2px, 0, 0);
  }
  
  90% {
    transform: translate3d(3px, 0, 0);
  }

  60% {
    transform: translate3d(-5px, 0, 0);
  }

  30% {
    transform: translate3d(5px, 0, 0);
  }
}

.goalieDive > .goalieDiveLeft {
	width: 220px;
	position: absolute;
	left: 50%;
	margin-left: -225px;
	z-index: -1;
	bottom: 20px;
}

.goalieDive > .goalieJumpUp {
	width: 90px;
	position: absolute;
	left: 50%;
	margin-left: -52px;
	z-index: -1;
	bottom: 1px;
}

.goalieDive > .goalieDiveRight {
	width: 220px;
	position: absolute;
	left: 50%;
	margin-left: 20px;
	z-index: -1;
	bottom: 20px;
}

.goalieDive {
	height: 250px;
	width: 550px;
	position: absolute;
	left: 50%;
	margin-left: -275px;
	bottom: 43%;
	z-index: -1
}

button {
	background-color: lightgreen;
	border-radius: 10px;
	color: gray;
}

input {
	position: absolute;
	background-color: lightgreen;
	border-radius: 10px;
	color: gray;
}









