body {
	font-family: 'Roboto', sans-serif;
	background: url(assets/Goal–background-image2.jpg);
	background-size: ;
	background-size: 100% 100%;
}

.container {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
}

button {
	width: 150px;
	line-height: 1.6;
	font-size: 1.6rem;
	border: solid 5px #22a7f0;
	border-radius: 10px;
	background: #c6ffdd !important;
	font-weight: 400;
	margin-right: 10px
}

.scoreBoard {
	display: inline-block;
}


.ball {
	display: flex;
	justify-content: center;
	margin-bottom: 200px;
	animation: shootLeft 1s;
	animation -duration: 1s;

}


@keyframes shootLeft {
  from {
    transform: translateX(0px) /*translateY(500px)*/
  }
  to {
    transform: translate(-200px, -450px)
  }
}















